* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;

    /*borda da borda*/
    outline: none;

    /*deixa a rolagem da página suave e não de forma brusca*/
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    transition: background 0.2s linear;
    height: 100%;
}

header{
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*dark-mode*/
.modo{
    color: black;
}

/*barra de pesquisa*/
.pesquisa {
    height: 100px;
    display: flex;
}



.reparticao {
    height: 100%;
    width: 33.333333333%;
}

#p1,
#p2,
#p3 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

main {
    width: 80%;
    margin: 4% 10% 0;
    height: 15rem;
    display: flex;
    padding-top: 17rem;
    justify-content: center;
    flex-direction: column;
}

/*botão buscar*/
header .buscar::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, var(--cores-pasteis4) 17.8%, rgb(162, 142, 254)100.2%);
    filter: blur(10px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

header .buscar:active{
    transform: scale(0.9) rotate(180deg);
    background-image: radial-gradient( circle farthest-corner at 10% 20%, var(--cores-pasteis4) 17.8%, rgb(162, 142, 254)100.2%);
    transition: 2s;
}

/*marcador das categorias*/
.marca-categoria {
    background-color: var(--cor-primaria);
    width: 20%;
    height: 2rem;
    border-radius: 10px;

    margin-top: -30%;
    margin-left: 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    color: #fff;
}

/*carrossel categorias*/
.tranding-slide .tranding-slide-img .img {
    width: 8rem;
    height: 10rem;
    border-radius: 2rem;
    object-fit: cover;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    
}

.bg-categoria{
    margin: 100%;
    height: 100%;
    margin: 0;
    border-radius: 2rem;
    display: inline-block;
    position: relative;
    color: #fff;
    letter-spacing: .2rem;
}

.bg-categoria img{
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg-categoria span{
    position: absolute;
    left: 11%;
    top: 40%;
}


.tranding-slide-img .img:hover {
    box-shadow: 0 0 20px var(--cor-secundaria);
    transform: scale(.85);
}

.tranding-slide-img {
    padding: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

/* marcações de seção*/
.marca-secao{
    border-bottom: 1px solid #787dc2;
    justify-content: center;
    display: flex;
    width: 80%;
    margin: 0 10%;
    margin-top: 3%;
    font-size: 0.9rem;
}

.secao{
    width: 9.375rem; 
    text-align: center;
    background-color: #787dc2;
    text-transform: uppercase;
}

.marca-secao .secao > p{
    color: white
}

/*main*/
.container-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.filter{
    width: 15%;
    height: 100vh;
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
}

.filter  .p1,
.filter  .p2{
    width: 96%;
    height: 75%;
    margin: 2%;
    border-radius: 10px;
}

.filter > .p2{
    height: 25%;
}

.corpo{
    width: 70%;
}

/*cards para livrarias e editoras*/

.container-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parent{
    height: 15rem;
    width: 12rem;
    perspective: 1000px;
}

.carta{
    padding-top: 6rem;
    transform-style: preserve-3d;
    background-color: rgb(184, 184, 255);
    background-position: center center;
    width: 12rem;
    height: 15rem;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.carta:hover{
    background-position: 80% 20%;
    transform: rotate3d(.5, 1, 0, 30deg);
}

.carta .content-box{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 115, 255, 0.925) 0 20px 50px -25px;
    transition: all .5s ease-in-out;
    padding: 3.125rem 1.563rem 1.563rem 1.563rem;
    transform-style: preserve-3d;
}

.content-box .logo{
    width: 40%;
    height: 80%;
    margin-top: -55%;
    margin-bottom: 10%;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    transform: translate3d(0, 0, 20px);
    cursor: pointer;
}
.content-box .logo:hover{
    transform: translate3d(0, 0, 50px);
}

.content-box .logo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-box .carta-title{
    color: #fff;
    margin-top: -15%;
    font-size: 2.3rem;
    font-weight: 900;
    transition: all .5s ease-in-out;
    transform: translate3d(0, 0, 20px);
}

.content-box .carta-title:hover{
    transform: translate3d(0, 0, 50px);
}

.content-box .carta-content{
    padding-top: 10px;
    font-size: .9rem;
    color: #b9b9b9;
    transition: all .5s ease-in-out;
    transform: translate3d(0, 0, 20px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box .carta-content:hover{
    transform: translate3d(0, 0, 50px);
}

.content-box .see-more {
    display: block;
    font-weight: 900;
    font-size: .6rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #08f;
    padding: 3%;
    margin-bottom: 10%;
    transition: all .5s ease-in-out;
    transform: translate3d(0, 0, 20px);
    cursor: pointer;
    border: 1px solid;
    align-items: center;
}

.content-box .see-more:hover{
    transform: scale(.8);
    color: #fff;
}

/*carrossel das livrarias e editoras*/
section.car-alta{
    margin: 2% auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

section.car-alta .card-livros{
    border-radius: 20px;
    background: transparent;
    height: 20rem;
    width: 940px;
    display: flex;
    align-items: center;
}

.inter-car{
    width: 100%;    
    height: auto;
    display: flex;
}

.inter-car input{
    display: none;
}

.slide-box{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;

    transition: 1s;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 70%;
    margin-top: 24%;
    justify-content: center;
    display: flex;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--cor-primaria);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}
    
.nav-manual .manual-btn:hover{
    background-color: #fff589;
    
}

/*assim estou dizendo que todos que tiverem a seguinte classe terão a configuração, com o "not" estou excluindo o último filho*/
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
   margin-right: 10px;     
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3,
#radio4:checked ~ .nav-auto .auto-btn4,
#radio5:checked ~ .nav-auto .auto-btn5,
#radio6:checked ~ .nav-auto .auto-btn6,
#radio7:checked ~ .nav-auto .auto-btn7,
#radio8:checked ~ .nav-auto .auto-btn8,
#radio9:checked ~ .nav-auto .auto-btn9,
#radio10:checked ~ .nav-auto .auto-btn10{
    background-color: #fff589;
}

#radio1:checked ~ .primeiro{
    margin-left: 0;
}
#radio2:checked ~ .primeiro{
    margin-left: -100%;
}
#radio3:checked ~ .primeiro{
    margin-left: -200%;
}
#radio4:checked ~ .primeiro{
    margin-left: -300%;
}
#radio5:checked ~ .primeiro{
    margin-left: -400%;
}
#radio6:checked ~ .primeiro{
    margin-left: -500%;
}
#radio7:checked ~ .primeiro{
    margin-left: -600%;
}
#radio8:checked ~ .primeiro{
    margin-left: -700%;
}
#radio9:checked ~ .primeiro{
    margin-left: -800%;
}
#radio10:checked ~ .primeiro{
    margin-left: -900%;
}

/*carrossel em alta*/
.carta_container{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.carta-alta{
    width: 20vw;
    height: 450px;
    background-color: #2a2734;
    opacity: .58;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    color: rgb(255, 0, 0);
    min-width: 250px;
}

.carta-alta div img{
     width: 100%;
     height: 45%;
     background-color: #9b87fe;
     border: 0;
     object-fit: cover;
     box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.animate{
    animation: animate-unselect 300ms;
}

.carta-alta div p{
    font-size: 80%;
    margin-top: 5%;
}

.carta-alta span{
    opacity: .4;
    font-size: 12px;
}

.carta-alta div{
    position: relative;

    width: 100%;
    margin: auto;
    height: 90%;
}

.carta-alta .inter{
    width: 80%;
    margin: auto;
}

.active{
    opacity: 1;
    z-index: 99;
    box-shadow: 0 0 105px -35px rgba(0, 0, 0, .75);
}

.prev{
    z-index: 1;
    transform: translate(-60%, -50%) rotate(25deg);
    
}

.next{
    z-index: 1;
    transform: translate(-40%, -50%) rotate(25deg);
}

.carta_container .button-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
}

.button-container .button{
    color: #7700ff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: .2;
    transition: all 300ms ease-in-out;
}
.button-container .button:hover{
    opacity: 1;
}
.button-container .button:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #cbbddb;
    z-index: -99;
}

.button-container .button:nth-child(1){
    float: left;
}
.button-container .button:nth-child(2){
    float: right;
}

/*livros*/
.linha-livros{
    width: 100%;
    height: 100%;
    padding: 2%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.conteiner-livro{
    width: 15rem;
    height: 30rem;
    color: black;
    box-shadow: 0 0 10px var(--cores-pasteis1);
    background-color: transparent;
    padding: 0 1.5%;
    margin: 2% 2%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.livro{
    height: 14rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.livro img{
    height: 100%;
    width: 85%;
}

.livro:hover .details{
    opacity: 1;
    height: 100%;
    padding-top: 0;
}

.livro:hover h4{
    opacity: 0;
    
}

.details{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 7%;
    background: rgba(211, 190, 221, .7);
    opacity: 1;
    transition: .5s ease;
    color: rgb(0, 0, 0);
    padding-top: 18%;
}

/*botão ver obras*/
.acessar {
    margin-top: 10%;
    position: relative;
    background: white;
    color: var(--cor-primaria);
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1%;
    transition: 0.5s;
    animation: animate 1.3s ease-in-out 1 forwards;
    border-radius: 10px;
}

.acessar:hover {
    letter-spacing: 0.25em;
    background: var(--cor-secundaria);
    color: #fff;
    box-shadow: 0 0 35px var(--cor-primaria);
    text-shadow: 0 0 35px #000;
}

.acessar::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: transparent;
}

.acessar span {
    position: relative;
    z-index: 1;
}

.acessar i {
    position: absolute;
    inset: 0;
    display: block;
}

.acessar i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: var(--cor-primaria);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.acessar:hover i::before {
    width: 20px;
    left: 20%;
}

.acessar i::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 80%;
    width: 10px;
    height: 4px;
    background: var(--cor-primaria);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.acessar:hover i:after {
    width: 20px;
    right: 20%;
}

footer {
    width: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, var(--cor-primaria) 17.8%, rgb(0, 0, 0)100.2%);
    margin-top: 5%;
    bottom: 0;
}

.inter-footer {
    padding: 5%;
    width: 50%;
    margin: 0 25%;
    display: flex;
    flex-direction: column;

}

.inter-footer>p {
    color: #fff;
    font-size: .9rem;
}

/*redes sociais do footer*/
.redes-sociais a {
    margin-top: 50px;

    display: inline-block;
    font-size: 25px;
    width: 10%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: var(--cor-secundaria);
    margin: 0 11%;
    transition: .4s linear;
    position: relative;
}

.redes-sociais a::before,
.redes-sociais a::after {
    margin-top: 50%;
    content: '';
    position: absolute;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.redes-sociais a:hover {
    transform: scale(.8);
}

.redes-sociais a:hover::before {
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.redes-sociais a:hover::after {
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}



